*.out
*.aux
SWE/Documentazione/Piano_di_Qualifica/Piano_di_qualifica.lof
SWE/Documentazione/Piano_di_Qualifica/Piano_di_qualifica.lot
SWE/Documentazione/Piano_di_Qualifica/Piano_di_qualifica.synctex.gz
SWE/Documentazione/Piano_di_Qualifica/Piano_di_qualifica.toc
SWE/package_npm/maap_project/.idea
*.lof
*.log
*.lot
*.gz
*.toc
*.aux
*.synctex
*.out
*.asta.lock
*.asta.bak
*.bak
*.js~
SWE/package_npm/maap_project/coverage
SWE/Documentazione/Piano_di_Progetto/Piano_di_progetto.pdf
SWE/Documentazione/Piano_di_Progetto/Piano_di_progetto.pdf
SWE/Documentazione/Piano_di_Qualifica/Piano_di_qualifica.pdf
SWE/Documentazione/Norme_di_Progetto/Norme_di_progetto.pdf
SWE/Documentazione/Glossario/Glossario.pdf
SWE/Documentazione/Norme_di_Progetto/Norme_di_progetto.pdf
SWE/Documentazione/Norme_di_Progetto/Norme_di_progetto.pdf
SWE/Documentazione/Piano_di_Progetto/Piano_di_progetto.pdf
SWE/Documentazione/Glossario/Glossario.tex
SWE/Documentazione/Norme_di_Progetto/Norme_di_progetto.pdf
SWE/Documentazione/Piano_di_Progetto/sections/PreRR.tex
SWE/Documentazione/Piano_di_Progetto/sections/PreRR.tex
SWE/Documentazione/Piano_di_Progetto/sections/PreRR.tex
SWE/Documentazione/Piano_di_Progetto/sections/PreRR.tex
SWE/MaaPerture/Angular/node_modules/*
SWE/MaaPerture/Angular/.sass-cache/*
SWE/package_npm/node_modules/*
SWE/package_npm/maap_project/node_modules/*
SWE/package_npm/maap_project/app/bower_components/*
SWE/package_npm/node_modules/*
SWE/alexdb/*
SWE/MaaP-Steakholders/*
SWE/package_npm/maap_server/ModelServer/DSL/collectionData/*.js
SWE/package_npm/maap_server/ModelServer/DSL/collectionData/*.json
*.gz(busy)
*.exe
SWE/package_npm/maap_project/.idea/workspace.xml
SWE/Documentazione/Analisi_dei_Requisiti/Analisi_dei_Requisiti_v5.2.0.pdf
SWE/Documentazione/Norme_di_Progetto/Norme_di_Progetto_v5.2.0.pdf
SWE/Documentazione/Piano_di_Qualifica/Piano_di_Qualifica_v5.2.0.pdf
SWE/Documentazione/Piano_di_Progetto/Piano_di_Progetto_v5.2.0.pdf
SWE/Documentazione/Glossario/Glossario_v5.2.0.pdf
