
<div class="row-fluid">
    <div class="col-md-10">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div ng-model="rows" class="panel-heading">Collection index</div>

            <!-- Table -->

            <table class="table">
                <th ng-repeat="label in labels">{{label}}</th>
                <th ng-hide="canEdit()">Options</th>
                <th ng-show="canEdit()" colspan="3">Options</th>
                <tr ng-repeat="row in rows | filter:search:strict" >
                    <td ng-repeat="(key,value) in row.data">{{value}}</td>
                    <td><a href="/view/{{row.ID}}">View</a></td>
                    <td ng-show="canEdit()"><a href="/view/{{row.ID}}/edit">Edit</a></td>
                    <td ng-show="canEdit()"><a href="/view/{{row.ID}}/delete">Delete</a></td>
                </tr>
            </table>
        </div>

        <div>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Filter by {{labels[0]}}</label>
                        <input ng-model="search.{{labels[0]}}" type="test" class="form-control" id="filtername" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label>ID</label>
                        <input  ng-model="search.ID" type="number" class="form-control" id="filterid" placeholder="ID">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                    <button ng-click="search = undefined" class="btn btn-default">Reset</button>

                </form>
            </div>
        </div>
    </div>
</div>