<div >
    <h2>Collection Index</h2>

   <!-- Todos list -->
    <!-- Todos list -->
    <div  ng-model="rows" >
            <table class="CollectionTable">
                <td>ID</td>
                <td>Subject</td>
                <td>sender</td>
                <td>Date</td>
                <tr ng-repeat="row in rows" >
                    <td>{{row.id}}</td>
                    <td><a href="/view/{{row.id}}">{{row.subject}}</a></td>
                    <td>{{row.sender}}</td>
                    <td>{{row.date}}</td>
                </tr>
            </table>
    </div>
</div>